= simple_form_for(@job, html: { class: 'form-horizontal' }) do |f|
  = f.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose a category"}, input_html: {class: "dropdown-toggle"}, style: "width: 540px; margin-left: -15px; width: 30%; "
  = f.input :title, label: 'Job title', input_html: {class: "form-control"}
  = f.input :description, label: 'Job description', input_html: {class: "form-control"}
  = f.input :company, label: 'Company name', input_html: {class: "form-control"}
  = f.input :url, label: 'Link to job', input_html: {class: "form-control"}
  %br/
  = f.button :submit,  style: "width: 540px; margin-left: -15px; width: 25%;" 
