!!!
%html
%head
  %title Ruby on Rails Jobs Board
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  %nav.navbar.navbar-default
    .container
      .navbar-brand Rails Jobs Board
      %ul.nav.navbar-nav
        %li= link_to "All jobs", root_path
        - Category.all.each do |category|
          %li= link_to category.name, jobs_path(category: category.name)
      = link_to "New job", new_job_path, class: "navbar-text navbar-right navbar-link new-job-button"

  .container
    .col-md-6.col-md-offset-3
      = yield
  